.row-input{
  width: 300px;
}

.permission-page{ 

  top: 30%;
  left: 50%;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
}

.container-register{
  .form-control {
      border: solid 1px;
  }

  width:200px;
  height:200px;
  
  top: 30%;
  left: 50%;
  margin-top: 3%;
  margin-left: 25%;
}

.container-login{
  .form-control {
      border: solid 1px;
  }

  width:200px;
  height:200px;
  
  top: 30%;
  left: 50%;
  margin-top: 3%;
  margin-left: 25%;
}

.link-daftar{
  top: 30%;
  left: 50%;

  margin-top: 13%;
  margin-left: 28%;
}