

.card {
  width: 200px;
}

.card-price{
  font-size: small;
  font-weight: bold;
  text-align: right;
  margin: 15px;
}

.catalog-title{
  font-weight: bolder;
  margin:110px;
  margin-top: 40px;
  margin-bottom: 6px;
}

.card-img{
  width: 200px
}

.card-title{
  font-weight: bold;
  margin-top: 10px; 
  margin-bottom: 0px;
  margin-left: 10px; 
}

.card-category{
  font-weight: 200;
  font-size: 14px;
  color: black;
  margin-left:10px;
}

.card-info{
  font-weight:300 ;
  margin-top: 10px; 
  margin-right: 5px;
  margin-left: 10px;
}

.btn-card {
float: right;
 
}